[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/threesome"]
	path = vim/bundle/threesome
	url = git://github.com/sjl/threesome.vim.git
[submodule "vim/bundle/manpageview"]
	path = vim/bundle/manpageview
	url = git://github.com/vim-scripts/ManPageView.git
[submodule "vim/bundle/camelcase"]
	path = vim/bundle/camelcase
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/cctree"]
	path = vim/bundle/cctree
	url = git://github.com/vim-scripts/CCTree.git
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = git://github.com/vim-scripts/glsl.vim.git
[submodule "vim/bundle/tabularize"]
	path = vim/bundle/tabularize
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/commandt"]
	path = vim/bundle/commandt
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/easygrep"]
	path = vim/bundle/easygrep
	url = git://github.com/vim-scripts/EasyGrep.git
