[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = git://github.com/vim-scripts/glsl.vim.git
[submodule "vim/bundle/tabularize"]
	path = vim/bundle/tabularize
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/man"]
	path = vim/bundle/man
	url = git@github.com:emezeske/manpageview.git
[submodule "vim/bundle/haskell-vim"]
	path = vim/bundle/haskell-vim
	url = git@github.com:raichoo/haskell-vim.git
[submodule "vim/bundle/gdbmgr"]
	path = vim/bundle/gdbmgr
	url = git@github.com:vim-scripts/gdbmgr.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/bundle/pony.vim"]
	path = vim/bundle/pony.vim
	url = git@github.com:dleonard0/pony-vim-syntax.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/bundle/targets"]
	path = vim/bundle/targets
	url = git@github.com:wellle/targets.vim.git
[submodule "vim/bundle/mustache-handlebars"]
	path = vim/bundle/mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/kotlin"]
	path = vim/bundle/kotlin
	url = git@github.com:udalov/kotlin-vim.git
