[submodule "vim/bundle/gdbmgr"]
	path = vim/bundle/gdbmgr
	url = git@github.com:vim-scripts/gdbmgr.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/bundle/targets"]
	path = vim/bundle/targets
	url = git@github.com:wellle/targets.vim.git
[submodule "vim/bundle/mustache-handlebars"]
	path = vim/bundle/mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/kotlin"]
	path = vim/bundle/kotlin
	url = git@github.com:udalov/kotlin-vim.git
